button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    cursor: pointer;
    min-width: 180px;
    margin: 10px;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: gray;
        border-radius: 10rem;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(gray, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }

    &:hover {
        color: white;

        &:before {
            width: 100%;
        }
    }

    &.red {
        &:after {
            background-color: rgb(214, 25, 50);
        }

        &:before {
            background-color: darken(rgb(214, 25, 50), 15%);
        }
    }

    &.yellow {
        color: black;
        &:after {
            background-color: rgb(13, 138, 61);
        }

        &:before {
            background-color: darken(rgb(13, 138, 61), 15%);
        }
    }


    &.blue {
        &:after {
            background-color: rgb(158, 84, 228);
        }

        &:before {
            background-color: darken(rgb(158, 84, 228), 15%);
        }
    }

    &.green {
        &:after {
            background-color: rgb(159, 231, 24);
        }

        &:before {
            background-color: darken(rgb(159, 231, 24), 15%);
        }
    }

    &.dark {
        &:after {
            background-color: rgb(65, 65, 77);
        }

        &:before {
            background-color: darken(rgb(10, 10, 10), 15%);
        }
    }

    &.small {
        padding: .5rem 1rem;
        font-size: .8rem;
    }

    &.large {
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
    }
    &.around {
        padding: .2rem .5rem;
        font-size: 1.2rem;
        min-width: 50px
    }

}